﻿@using BaseballApp.Helpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Свежие новости белорусского бейсбола, чемпионаты, кубки, статистика, фото и видео. Полная информация о бейсболе в Беларуси, организация любительских встреч." />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css/site")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div class="wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="ticker">
                        <div class="ticker-title"><span>Горячие</span> новости</div>
                        <div class="ticker-wrap">
                            <ul id="twitter-news"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-primary">
                <div class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="@Url.ActionFullPath("Index", "Home")" class="navbar-brand"><img src="@Url.Content("~/content/img/logo.png")" /></a>
                            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right custom-navbar">
                                <li><a href="@Url.ActionFullPath("Index", "Home")">Главная</a></li>
                                <li><a href="@Url.Action("Index", "News")">Новости</a></li>
                                <li><a href="@Url.ActionFullPath("Index", "Teams")">Команды</a></li>
                                <li><a href="#">Турниры</a></li>
                                <li><a href="#">Матчи</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="@Url.ActionFullPath("Index", "Home")"><img src="@Url.Content("~/content/img/logo.png")" /></a>
                                </div>
                                <div class="footer-widget-content">
                                    <div class="footer-desc">Белорусская бейсбольная ассоциация является добровольным физкультурно-спортивным объединением, созданным с целью развития и популяризации бейсбола в Республике Беларусь</div>
                                    <ul class="footer-contacts">
                                        <li><i class="fa fa-map-marker fa-fw"></i><span>Беларусь, Минск</span></li>
                                        <li><i class="fa fa-phone fa-fw"></i><span><a href="tel:+375296545822">+375 29 654 5822</a></span></li>
                                        <li><i class="fa fa-envelope fa-fw"></i><span><a href="mailto:info@belarusbaseball.com">info@belarusbaseball.com</a></span></li>
                                    </ul>
                                    <ul class="socials-links">
                                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Последние новости</h4>
                                <div class="footer-widget-content">
                                    <ul class="footer-news" id="footer-news"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Обратная связь</h4>
                                <div class="footer-widget-content">
                                    <p>Вы можете связаться с нами через форму ниже, либо через социальные сети</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="email" placeholder="Ваш email" class="form-control form-control-custom">
                                        </div>
                                        <div class="form-group">
                                            <textarea placeholder="Ваше сообщение" class="form-control form-control-custom"></textarea>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-custom">Отправить сообщение</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-secondary">
                <div class="container">
                    &copy; @DateTime.Now.Year. Все права защищены
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ticker")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/site")
</body>
</html>