﻿@model BaseballApp.Areas.Admin.ViewModels.LoginVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления – Авторизация</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/adminpanel")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="wrap">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="@Url.Action("index", "home", new { area = "" })" class="logo-name text-center">BaseballApp</a>
                        <p class="title text-center">Авторизуйтесь для дальнейших действий</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Логин" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пароль" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="checkbox-custom">
                                    @Html.CheckBoxFor(model => model.RememberMe)
                                    <label for="RememberMe"></label>
                                </div>
                                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "checkbox-label" })
                            </div>
                            <input type="submit" value="Войти" class="btn btn-success btn-block" />
                        }
                        <a href="@Url.Action("index", "home", new { area = "" })" class="home text-center">Вернуться на главную</a>
                        <p class="copy text-center">&copy; @DateTime.Now.Year BaseballApp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#RememberMe").change(function () {
            $(".checkbox-custom > label").toggleClass("checked");
        });
    </script>
</body>
</html>