﻿@model BaseballApp.Areas.Admin.ViewModels.CreateNewsItemVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Новости";
    ViewBag.Info = "Добавление новости";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Добавление новости</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortNews, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.ShortNews, 3, 0, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShortNews, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNews, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.FullNews, 5, 0, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FullNews, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Добавить новость" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}