﻿@model IEnumerable<BaseballApp.Areas.Admin.ViewModels.IndexNewsItemVM>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Новости";
    ViewBag.Info = "Последнее изменение";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Новости</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="@Url.Action("create")" class="btn btn-success">Добавить новость</a></div>
                        <div class="filter">Поиск: <input type="text" name="filter" /></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                                    <th>@Html.DisplayNameFor(model => model.PubDate)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.Action("delete", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="@Url.Action("edit", new { id = item.Id })" class="btn-edit"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PubDate)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }