﻿@model BaseballApp.ViewModels.HomeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Белорусская бейсбольная ассоциация | ББА";
}

<div class="content">
    <div class="container">
        <div class="row wrap">
            <div class="col-md-8">
                <div class="card card-clean">
                    <div class="card-header">
                        <h4>Рекомендуемые новости</h4>
                    </div>
                    <div class="card-content">
                        <div class="news-list">
                            @foreach (var item in Model.NewsSlides)
                            {
                                <div class="news-item">
                                    <a href="#">
                                        @if (string.IsNullOrEmpty(item.NewsItem.Image) == false)
                                        {
                                            <div class="news-img">
                                                <img src="@Url.Content("~/content/img/news/" + item.NewsItem.Image)"/>
                                            </div>
                                        }
                                        <div class="news-info">
                                            @if (@item.NewsItem.Category != null)
                                            {
                                                <div class="news-cat"><span>@item.NewsItem.Category.Name</span></div>
                                            }
                                            <h3>@item.NewsItem.Title</h3>
                                            <time>@item.NewsItem.PubDate.ToLongDateString()</time>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row wrap">
                    @foreach (var item in Model.News)
                    {
                        <div class="col-sm-6">
                            <div class="news-box">
                                <div class="news-box-thumb">
                                    @if (item.Category != null)
                                    {
                                        <div class="news-box-cat"><span>@item.Category.Name</span></div>
                                    }
                                    @if (string.IsNullOrEmpty(item.Image) == false)
                                    {
                                        <a href="#">
                                            <img src="@Url.Content("~/content/img/news/" + item.Image)"/>
                                        </a>
                                    }
                                </div>
                                <div class="news-box-content">
                                    <time>@item.PubDate.ToLongDateString()</time>
                                    <h6 class="news-box-title"><a href="#">@item.Title</a></h6>
                                    <div class="news-box-shortnews">@item.ShortNews</div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-sm-6">
                        <div class="oldnews-box">
                            <ul>
                                @foreach (var item in Model.OldNews)
                                {
                                    <li>
                                        @if (item.Category != null)
                                        {
                                            <div class="news-cat"><span>@item.Category.Name</span></div>
                                        }
                                        <h6 class="oldnews-box-title"><a href="#">@item.Title</a></h6>
                                        <time>@item.PubDate.ToLongDateString()</time>
                                        <div class="oldnews-box-shortnews">@item.ShortNews</div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Статистика сезона</h4>
                    </div>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="table table-standings">
                                <thead>
                                    <tr>
                                        <th>Позиция команды</th>
                                        <th>В</th>
                                        <th>П</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeamStats)
                                    {
                                        <tr>
                                            <td>
                                                <div class="team-meta">
                                                    <div class="team-meta-logo">
                                                        <img src="@Url.Content("~/content/img/teams/28-" + item.Team.Logo)" />
                                                    </div>
                                                    <div class="team-meta-info">
                                                        <h6 class="team-meta-name">@item.Team.Name</h6>
                                                        <div class="team-meta-country">@item.Team.City.Name</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Victories</td>
                                            <td>@item.Defeats</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Последние результаты</h4>
                    </div>
                    <div class="widget-content">
                        <ul class="results">
                            @foreach (var item in Model.LastMatches)
                            {
                                <li>
                                    <h5 class="results-title">@item.StartDate.ToString("dddd, d MMMM")</h5>
                                    <div class="results-content">
                                        <div class="results-team-first">
                                            <div class="team-meta-logo">
                                                <img src="@Url.Content("~/content/img/teams/28-" + item.MatchTeams.First().Team.Logo)" />
                                            </div>
                                            <div class="team-meta-info results-team-meta-info">
                                                <h6 class="team-meta-name">@item.MatchTeams.First().Team.Name</h6>
                                                <div class="team-meta-country">@item.MatchTeams.First().Team.City.Name</div>
                                            </div>
                                        </div>
                                        <div class="results-score">
                                            @if (item.MatchTeams.First().R > item.MatchTeams.Last().R)
                                            {
                                                <span class="winner">@item.MatchTeams.First().R</span><span> – @item.MatchTeams.Last().R</span>
                                            }
                                            else
                                            {
                                                <span>@item.MatchTeams.First().R – </span><span class="winner">@item.MatchTeams.Last().R</span>
                                            }
                                        </div>
                                        <div class="results-team-second">
                                            <div class="team-meta-logo">
                                                <img src="@Url.Content("~/content/img/teams/28-" + item.MatchTeams.Last().Team.Logo)" />
                                            </div>
                                            <div class="team-meta-info results-team-meta-info">
                                                <h6 class="team-meta-name">@item.MatchTeams.Last().Team.Name</h6>
                                                <div class="team-meta-country">@item.MatchTeams.Last().Team.City.Name</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </aside>
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Следующий матч</h4>
                    </div>
                    <div class="widget-content">
                        <div class="match-preview">
                            <div class="match-preview-header">
                                <h3 class="match-preview-title">@Model.NextMatch.Tournament.Name</h3>
                                <time class="match-preview-date">@Model.NextMatch.StartDate.ToString("dddd, d MMMM")</time>
                            </div>
                            <div class="match-preview-content">
                                <div class="match-preview-team-first">
                                    <div class="match-preview-team-logo">
                                        <img src="@Url.Content("~/content/img/teams/88-" + Model.NextMatch.MatchTeams.First().Team.Logo)" />
                                    </div>
                                    <h5 class="match-preview-team-name">@Model.NextMatch.MatchTeams.First().Team.Name</h5>
                                    <div class="match-preview-team-info">@Model.NextMatch.MatchTeams.First().Team.City.Name</div>
                                </div>
                                <div class="match-preview-vs">
                                    <div class="match-preview-versus">VS</div>
                                    <div class="match-preview-info">
                                        <time>@Model.NextMatch.StartDate.ToString("HH:mm")</time>
                                        <div>@Model.NextMatch.GamePlace.Name</div>
                                    </div>
                                </div>
                                <div class="match-preview-team-second">
                                    <div class="match-preview-team-logo">
                                        <img src="@Url.Content("~/content/img/teams/88-" + Model.NextMatch.MatchTeams.Last().Team.Logo)" />
                                    </div>
                                    <h5 class="match-preview-team-name">@Model.NextMatch.MatchTeams.Last().Team.Name</h5>
                                    <div class="match-preview-team-info">@Model.NextMatch.MatchTeams.Last().Team.City.Name</div>
                                </div>
                            </div>
                            <div class="match-preview-countdown">
                                <h4 class="countdown-title">Время до начала игры</h4>
                                <div class="countdown-content" data-date="@Model.NextMatch.StartDate.ToString("yyyy'/'MM'/'dd")"></div>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Партнеры</h4>
                    </div>
                    <div class="widget-content">
                        <div class="partners">
                            <div class="partners-list">
                                @foreach (var item in Model.Partners)
                                {
                                    <div class="partners-wrap">
                                        <a href="@item.Url" class="partners-link" target="_blank">
                                            <div class="partners-logo">
                                                <img src="@Url.Content("~/content/img/partners/" + item.Logo)" />
                                            </div>
                                            <div class="partners-desc">@item.Name</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-clean">
                    <div class="card-header">
                        <h4>Видео</h4>
                        <ul class="video-category">
                            <li><a href="#">Все</a></li>
                            @foreach (var item in Model.VideoCategories)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="card-content">
                        <div class="video-list">
                            @foreach (var item in Model.VideoSlides)
                            {
                                <div class="video-wrap">
                                    <a class="video-link" href="@item.Url">
                                        <div class="video-thumb">
                                            <img src="@Url.Content("~/content/img/video/" + item.Image)" />
                                        </div>
                                        <div class="video-inner">
                                            @if (item.VideoCategory != null)
                                            {
                                                <div class="video-cat"><span>@item.VideoCategory.Name</span></div>
                                            }
                                            <h3 class="video-title">@item.Name</h3>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/css/mainpage")
}

@section Scripts {
    @Scripts.Render("~/bundles/mainpage")
}