﻿@using BaseballApp.Helpers
@model BaseballApp.ViewModels.TournamentVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ББА | " + Model.Tournament.Name;
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Информация о турнире</h4>
                    </div>
                    <div class="card-content">
                        <div class="tournament-wrap">
                            <div class="row">
                                <div class="col-md-4 tournament-logo">
                                    <img src="@Url.Content("~/content/temp/" + Model.Tournament.Logo)" class="img-responsive" />
                                </div>
                                <div class="col-md-4 tournament-info">
                                    <div class="tournament-info-item">
                                        <span>Название турнира: </span>@Model.Tournament.Name
                                    </div>
                                    <div class="tournament-info-item">
                                        <span>Начало турнира: </span>@Model.Tournament.StartDate.ToShortDateString()
                                    </div>
                                    <div class="tournament-info-item">
                                        <span>Конец турнира: </span>@Model.Tournament.EndDate.ToShortDateString()
                                    </div>
                                    <div class="tournament-info-item">
                                        <span>Главный судья: </span><img src="@Url.Content("~/content/img/flags/16/" + Model.Tournament.Judge.City.Country.Alpha2.ToLower() + ".png")" /> @Model.Tournament.Judge.Name @Model.Tournament.Judge.Surname
                                    </div>
                                    <div class="tournament-info-item">
                                        <span>Количество команд: </span>@Model.Tournament.TournamentTeams.Count
                                    </div>
                                </div>
                                <div class="col-md-4 tournament-desc">@Model.Tournament.Description</div>
                            </div>
                        </div>
                        <div class="decor"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Участники</h4>
                    </div>
                    <div class="card-content">
                        <div class="tournament-teams">
                            <div class="row">
                                @foreach (var item in Model.Tournament.TournamentTeams)
                                {
                                    <div class="col-sm-6 col-md-3 tournament-teams-item">
                                        <a href="@Url.ActionFullPath("Team", "Teams", new { id = item.Team.Id })" class="tournament-team-link">
                                            <div class="tournament-team-logo">
                                                <img src="@Url.Content("~/content/img/teams/88-" + item.Team.Logo)" />
                                            </div>
                                            <div class="tournament-team-name">@item.Team.Name</div>
                                            <div class="tournament-team-country">@item.Team.City.Name, @item.Team.City.Country.Name</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.UpcomingMatches.Count() != 0)
            {
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ближайшие игры</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                @foreach (var item in Model.UpcomingMatches)
                                {
                                    <div class="col-md-6 schedule-col">
                                        <div class="schedule-wrap">
                                            <img src="@Url.Content("~/content/img/teams/88-" + item.MatchTeams.First().Team.Logo)" />
                                            <span class="schedule-vs">VS</span>
                                            <img src="@Url.Content("~/content/img/teams/88-" + item.MatchTeams.Last().Team.Logo)" />
                                            <div class="schedule-info">
                                                <div class="schedule-place-date">@item.GamePlace.Name / @item.StartDate.ToString("d MMMM, HH:mm")</div>
                                                <div class="schedule-weather">Погода: @item.Weather.Name</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Прошедшие игры</h4>
                    </div>
                    <div class="card-content">
                        <ul class="tournament-schedule">
                            @foreach (var item in Model.LatestMatches)
                            {
                                <li>
                                    <div class="schedule-wrap">
                                        <div class="tournament-score">
                                            @if (item.MatchTeams.First().R > item.MatchTeams.Last().R)
                                            {
                                                <span class="winner">@item.MatchTeams.First().R</span><span> – @item.MatchTeams.Last().R</span>
                                            }
                                            else
                                            {
                                                <span>@item.MatchTeams.First().R – </span><span class="winner">@item.MatchTeams.Last().R</span>
                                            }
                                        </div>
                                        <div class="row schedule-teams">
                                            <div class="col-xs-4 col-md-4 team-first">
                                                <div class="schedule-team-meta-logo">
                                                    <img src="@Url.Content("~/content/img/teams/88-" + item.MatchTeams.First().Team.Logo)" />
                                                </div>
                                                <h6 class="schedule-team-meta-name">@item.MatchTeams.First().Team.Name</h6>
                                            </div>
                                            <div class="col-xs-4 col-md-4 schedule-score">
                                                <a href="@Url.ActionFullPath("Index", "Matches", new { id = item.Id })">Обзор матча</a>
                                            </div>
                                            <div class="col-xs-4 col-md-4 team-second">
                                                <h6 class="schedule-team-meta-name">@item.MatchTeams.Last().Team.Name</h6>
                                                <div class="schedule-team-meta-logo">
                                                    <img src="@Url.Content("~/content/img/teams/88-" + item.MatchTeams.Last().Team.Logo)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tournament-date">@item.StartDate.ToString("d MMMM, HH:mm")</div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>