﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.CreateTeamVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Команды";
    ViewBag.Info = "Добавление команды";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Добавление команды</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="@Url.Content("~/content/img/teams/unknown.jpg")" id="preview-img" data-img="unknown.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-10">
                            <form action="@Url.ActionFullPath("Create", "Teams")" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="control-label">Название</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Полное название</label>
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Город</label>
                                    @Html.DropDownListFor(model => model.CityId, Model.Cities, "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Тренер</label>
                                    @Html.EditorFor(model => model.Coach, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Coach, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="inputfile">
                                        <label class="btn btn-default" for="file-input">Выбрать логотип (215x215)</label>
                                        <input type="file" name="logo" id="file-input" accept="image/png" data-val="true" data-val-required="Выберите логотип" data-msg-accept="Выберите логотип в формате PNG" />
                                        @Html.ValidationMessage("logo", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="inputfile">
                                        <label class="btn btn-default" for="bg-input">Выбрать задний фон (1500x300)</label>
                                        <input type="file" name="bgImage" id="bg-input" accept="image/jpeg" data-msg-accept="Выберите задний фон в формате JPG" />
                                        @Html.ValidationMessage("bgImage", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" id="form-file-info" style="display: none;">
                                    <label class="control-label">Логотип</label>
                                    <div class="form-control">
                                        <span id="file-info"></span>
                                        <span><a href="#" id="remove-file" class="remove-photo">Убрать</a></span>
                                    </div>
                                </div>
                                <div class="form-group" id="form-bg-info" style="display: none;">
                                    <label class="control-label">Задний фон</label>
                                    <div class="form-control">
                                        <span id="bg-info"></span>
                                        <span><a href="#" id="remove-bg" class="remove-photo">Убрать</a></span>
                                    </div>
                                </div>
                                <input type="submit" value="Добавить команду" class="btn btn-success" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}