﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.GameInfoVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Места проведения и судьи";
    ViewBag.Info = string.Format("Места проведения: {0} | Судьи: {1}", Model.GamePlaces.Count(), Model.Judges.Count());
}

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Места проведения</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-game-place" data-url="@Url.ActionFullPath("CreateGamePlace", "GameInfo")" class="btn btn-success">Добавить место проведения</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Место проведения</th>
                                    <th>Кол. матчей</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GamePlaces)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteGamePlace", "GameInfo", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditGamePlace", "GameInfo", new { id = item.Id })" class="btn-edit edit-game-place"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Matches.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Судьи</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-judge" data-url="@Url.ActionFullPath("CreateJudge", "GameInfo")" class="btn btn-success">Добавить судью</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Судья</th>
                                    <th>Кол. матчей</th>
                                    <th>Кол. турниров</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Judges)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteJudge", "GameInfo", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditJudge", "GameInfo", new { id = item.Id })" class="btn-edit edit-judge"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        @if (item.City != null)
                                        {
                                            <td data-id="@item.CityId"><img class="flag" src="@Url.Content("~/content/img/flags/16/" + item.City.Country.Alpha2 + ".png")" title="@item.City.Name" /> @item.Name @item.Surname</td>
                                        }
                                        else
                                        {
                                            <td data-id="@item.CityId"><img class="flag" src="@Url.Content("~/content/img/flags/16/unknown.png")" /> @item.Name @item.Surname</td>
                                        }                                        
                                        <td>@item.Matches.Count</td>
                                        <td>@item.Tournaments.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gamePlaceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.GamePlaceVM.Name, new { htmlAttributes = new { @id = "GamePlace", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GamePlaceVM.Name, "", new { @id = "GamePlace-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="judgeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Имя</label>
                        @Html.EditorFor(model => model.JudgeVM.Name, new { htmlAttributes = new { @id = "JudgeName", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JudgeVM.Name, "", new { @id = "JudgeName-error", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Фамилия</label>
                        @Html.EditorFor(model => model.JudgeVM.Surname, new { htmlAttributes = new { @id = "JudgeSurname", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JudgeVM.Surname, "", new { @id = "JudgeSurname-error", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Город</label>
                        @Html.DropDownListFor(model => model.JudgeVM.CityId, Model.JudgeVM.Cities, "", new { @id = "CityId", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JudgeVM.CityId, "", new { @id = "CityId-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}