﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.CreatePlayerVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Игроки";
    ViewBag.Info = "Редактирование игрока";
}

<div class="content">
    <form action="@Url.ActionFullPath("Edit", "Players")" method="post" enctype="multipart/form-data">
        <div class="row">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-lg-6">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Основная информация</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@Url.Content("~/content/img/players/" + Model.Photo)" id="preview-img" data-img="@Model.Photo" class="img-responsive" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Имя</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Фамилия</label>
                                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Дата рождения</label>
                                        @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Город</label>
                                        @Html.DropDownListFor(model => model.CityId, Model.Cities, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Команда</label>
                                        @Html.DropDownListFor(model => model.TeamId, Model.Teams, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Позиция</label>
                                        @Html.DropDownListFor(model => model.PositionId, Model.Positions, "", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Номер</label>
                                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="checkbox-custom" style="margin-right: 8px;">
                                            @Html.CheckBoxFor(model => model.MainRoster)
                                            <label for="MainRoster" @(Model.MainRoster ? "class=checked" : "")></label>
                                        </div>
                                        <label for="MainRoster" class="control-label">Игрок основного состава</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="inputfile">
                                            @Html.HiddenFor(model => model.Photo)
                                            <label class="btn btn-default" for="file-input">Выбрать фото (215x320)</label>
                                            <input type="file" name="file" id="file-input" accept="image/jpeg" data-msg-accept="Выберите изображение в формате JPG" />
                                            @Html.ValidationMessage("file", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12" id="form-file-info" style="display: none;">
                                        <label class="control-label">Фото</label>
                                        <div class="form-control">
                                            <span id="file-info"></span>
                                            <span><a href="#" id="remove-file" class="remove-photo">Убрать</a></span>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Сохранить" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Дополнительная информация</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Рост (см)</label>
                                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Вес (кг)</label>
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Бита</label>
                                @Html.DropDownListFor(model => model.Protection, Model.Sides, "", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Подача</label>
                                @Html.DropDownListFor(model => model.Attack, Model.Sides, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Дебют в высшей лиге</label>
                                @Html.TextBoxFor(model => model.DebutMajorLeague, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Место учебы</label>
                                @Html.EditorFor(model => model.PlaceOfStudy, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PlaceOfStudy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#MainRoster").change(function () {
            $(".checkbox-custom > label").toggleClass("checked");
        });
    </script>
}