﻿@using BaseballApp.Helpers
@model IEnumerable<BaseballApp.Areas.Admin.ViewModels.IndexPlayerVM>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Игроки";
    ViewBag.Info = "Всего игроков: " + Model.Count();
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Игроки</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="@Url.ActionFullPath("Create", "Players")" class="btn btn-success">Добавить игрока</a></div>
                        <div class="filter">Поиск: <input type="text" name="filter" /></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>№</th>
                                    <th>Игрок</th>
                                    <th>Позиция</th>
                                    <th>Команда</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("Delete", "Players", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="@Url.ActionFullPath("Edit", "Players", new { id = item.Id })" class="btn-edit"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Number</td>
                                        <td><img class="flag" src="@Url.Content("~/content/img/flags/16/" + item.CountryAlpha2 + ".png")" title="@item.CityName" />@item.Player</td>                                        
                                        <td>@item.Position</td>
                                        <td>@item.Team</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }