﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.CategoryVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Категории новостей и видео";
    ViewBag.Info = string.Format("Категории новостей: {0} | Категории видео: {1}", Model.NewsCategories.Count(), Model.VideoCategories.Count());
}

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Категории новостей</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-news-category" data-url="@Url.ActionFullPath("CreateNewsCategory", "Categories")" class="btn btn-success">Добавить категорию</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Категория</th>
                                    <th>Кол. новостей</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NewsCategories)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteNewsCategory", "Categories", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditNewsCategory", "Categories", new { id = item.Id })" class="btn-edit edit-news-category"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.NewsItems.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Категории видео</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-video-category" data-url="@Url.ActionFullPath("CreateVideoCategory", "Categories")" class="btn btn-success">Добавить категорию</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Категория</th>
                                    <th>Кол. видео</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VideoCategories)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteVideoCategory", "Categories", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditVideoCategory", "Categories", new { id = item.Id })" class="btn-edit edit-video-category"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.VideoSlides.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newsCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.NewsCategoryVM.Name, new { htmlAttributes = new { @id = "NewsCategory", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewsCategoryVM.Name, "", new { @id = "NewsCategory-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="videoCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.VideoCategoryVM.Name, new { htmlAttributes = new { @id = "VideoCategory", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VideoCategoryVM.Name, "", new { @id = "VideoCategory-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}