﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Панель управления – @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/adminpanel")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper" id="wrapper">
        <header class="main-header clearfix">
            @using (Html.BeginForm("logout", "auth", new { area = "Admin" }, FormMethod.Post, new { @id = "logout-form" }))
            {
                @Html.AntiForgeryToken()

                <div class="sidebar-button"><a href="#" class="small-button" id="sidebar-toggle"><i class="fa fa-bars"></i></a></div>
                <a href="@Url.Action("index", "home", new { area = "" })" class="logo">BaseballApp</a>
                <div class="menu-button">
                    <a href="#" class="small-button"><i class="fa fa-life-ring"></i></a>
                    <a href="#" class="small-button btn-logout"><i class="fa fa-sign-out"></i></a>
                </div>
                <nav class="navbar">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><span><i class="fa fa-life-ring"></i>&nbsp; Тех. поддержка</span></a></li>
                            <li><a href="#" class="btn-logout"><span><i class="fa fa-sign-out"></i>&nbsp; Выход</span></a></li>
                        </ul>
                    </div>
                </nav>
            }
        </header>
        <aside class="main-sidebar">
            <ul class="sidebar-menu">
                <li><a href="#"><i class="fa fa-pie-chart fa-2x"></i><p>Статистика</p></a></li>
                <li><a href="@Url.Action("index", "news")"><i class="fa fa-newspaper-o fa-2x"></i><p>Новости</p></a></li>
                <li><a href="@Url.Action("index", "players")"><i class="fa fa-users fa-2x"></i><p>Игроки</p></a></li>
                <li><a href="@Url.Action("index", "teams")"><i class="fa fa-shield fa-2x"></i><p>Команды</p></a></li>
                <li><a href="#"><i class="fa fa-handshake-o fa-2x"></i><p>Матчи</p></a></li>
                <li><a href="#"><i class="fa fa-star fa-2x"></i><p>Турниры</p></a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-table fa-2x"></i>
                        <p>Другие данные</p>
                        <div class="arrow"><i class="fa fa-angle-left fa-lg"></i></div>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="@Url.Action("index", "categories")">Категории новостей</a></li>
                        <li><a href="@Url.Action("index", "positions")">Позиции игроков</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <h3>@ViewBag.Title</h3>
                <small>@ViewBag.Info</small>
            </div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminpanel")
    @RenderSection("scripts", required: false)
</body>
</html>