﻿body {
    background-color: #f1f4f9;
    font-family: 'Open Sans', sans-serif;
    color: #4e5e6a;
}

:focus {
    outline: none !important;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}

th, td {
    font-size: 13px;
}

label {
    font-size: 13px;
    font-weight: normal;
}

textarea {
    resize: vertical;
}

.wrapper {
    background-color: #f1f4f9;
    overflow: hidden;
}

.main-header {
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    float: left;
    width: 180px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #22baa0;
}

.sidebar-button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.navbar {
    margin: 0 0 0 180px;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.small-button {
    float: left;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #5f5f5f;
}
.small-button:hover,
.small-button:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: #5f5f5f;
    background-color: #f2f2f2;
}

.navbar-custom-menu {
    float: right;
}

.navbar-nav > li > a {
    padding: 0 20px;
    line-height: 60px;
    color: #5f5f5f;
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;
    width: 180px;
    min-height: 100%;
    padding-top: 60px;
    background-color: #34425a;
}

.sidebar-menu {
    padding-left: 0;
    list-style: none;
}

.sidebar-menu > li > a {
    display: block;
    position: relative;
    padding: 15px 0;
    text-align: center;
    color: #899dc1;
}
.sidebar-menu > li > a:hover {
    color: #fff;
    background-color: #2b384e;
}

.sidebar-menu > li > a > p {
    margin: 5px 0 0;
}

.arrow {
    position: absolute;
    top: 32px;
    right: 15px;
}

.sub-menu {
    padding: 10px;
    background-color: #2b384e;
}

.sub-menu > li > a {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    color: #899dc1;
}
.sub-menu > li > a:hover {
    color: #fff;
    background-color: #34425a;
}

.content-wrapper {
    position: relative;
    left: 0;
    margin-left: 180px;
}

.content-header {
    padding: 20px;
    background: #e9edf2;
    border-bottom: 1px solid #dee2e8;
}

.content-header > h3 {
    margin: 0 0 4px;
    font-size: 24px;
    font-weight: 300;
    color: #74767d;
}

.content-header > small {
    font-size: 13px;
    color: #90999c;
}

.content {
    margin: 20px 20px 0;
}

.panel-white {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.panel-heading {
    padding: 20px;
    border: none;
}

.panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-body {
    padding: 0 20px 20px;
}

.actions {
    margin-bottom: 15px;
}

.btn-add {
    float: left;
}

.btn {
    border-radius: 0;
    font-size: 13px;
}

.btn-success {
    border-color: transparent;
    background-color: #22baa0;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {
    border-color: transparent;
    background-color: #1db198;
}

.btn-danger {
    border-color: transparent;
    background-color: #f25656;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:active:focus {
    border-color: transparent;
    background-color: #e14444;
}

.filter {
    float: right;
    font-size: 13px;
}

.filter > input {
    margin-left: 10px;
    padding: 6px 10px;
    border: 1px solid #dce1e4;
}

.btn-edit, .btn-delete {
    padding: 10px;
    opacity: 0;
}
.btn-edit,
.btn-edit:hover,
.btn-edit:focus {
    color: #22baa0;
}
.btn-delete,
.btn-delete:hover,
.btn-delete:focus {
    color: #f25656;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 10px;
}
.table > thead > tr > th {
    border-bottom: none;
}
.table > thead > tr > th:first-child {
    width: 91px;
}

.table-hover > tbody > tr:hover .btn-edit,
.table-hover > tbody > tr:hover .btn-delete {
    opacity: 1;
}

.table-actions {
    font-size: 14px;
}

.flag {
    margin: -2px 5px 0 0;
    opacity: 0.9;
}

.form-control {
    border-radius: 0;
    border-color: #dce1e4;
    box-shadow: none;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.form-control:focus {
    border-color: #bdc5c9;
    box-shadow: none;
}

.img-responsive {
    margin: 0 auto 15px;
}

.btn-default {
    border-color: #e5e5e5;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    background-color: #f1f1f1;
    border-color: #e5e5e5;
}

.remove-photo {
    margin-left: 5px;
    border-bottom: 1px dashed #0088cc;
}
.remove-photo:hover,
.remove-photo:focus {
    border-color: #23527c;
    color: #23527c;
}

.text-danger {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
}

.text-danger > ul {
    padding-left: 0;
    list-style: none;
}

.show-siderbar > .main-sidebar,
.hide-siderbar > .main-sidebar,
.show-siderbar > .content-wrapper,
.hide-siderbar > .content-wrapper {
    -webkit-transition: left 0.2s linear;
       -moz-transition: left 0.2s linear;
         -o-transition: left 0.2s linear;
            transition: left 0.2s linear;
}
.show-siderbar > .main-sidebar {
    left: 0;
}
.hide-siderbar > .main-sidebar {
    left: -180px;
}
.show-siderbar > .content-wrapper {
    left: 180px;
}
.hide-siderbar > .content-wrapper {
    left: 0;
}

.wrap {
    margin: 5%;
}

.center {
    float: none;
    margin: 0 auto;
}

.login-box {
    margin: auto;
    max-width: 400px;
}

.logo-name {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #6c6c6c;
}
.logo-name:hover,
.logo-name:focus {
    color: #6c6c6c;
}

.login-box > .title {
    margin: 20px 0 10px;
    font-size: 13px;
}

.login-box > form {
    margin-top: 20px;
}

.checkbox-custom {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 3px;
}
.checkbox-custom > input {
    display: none;
}
.checkbox-custom > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    background: #fff;
    border: 1px solid #dce1e4;
    cursor: pointer;
}
.checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 9px;
    height: 5px;
    border: 2px solid #555;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 1;
}
.checkbox-label {
    margin-bottom: 0;
    padding-left: 8px;
}

.home {
    display: block;
    margin-top: 20px;
    font-size: 12px;
}
.home:hover,
.home:focus {
    text-decoration: underline;
    color: #23527c;
}

.copy {
    margin-top: 10px;
    font-size: 12px;
}

.modal-content {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}
.modal-title {
    font-size: 14px;
    font-weight: bold;
}
.modal-header,
.modal-footer {
    border: none;
}
.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.inputfile {
    position: relative;
}
.inputfile > input {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .logo {
        width: 100%;
        background-color: #fff;
        color: #5f5f5f;
    }
    .logo:hover,
    .logo:focus {
        color: #5f5f5f;
    }

    .navbar {
        display: none;
    }

    .sidebar-button,
    .menu-button {
        display: block;
    }

    .main-sidebar {
        left: -180px;
    }

    .content-wrapper {
        margin-left: 0;
    }
}