﻿body {
    background-color: #edeff4;
    color: #9a9da2;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 26px;
}

a {
    -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
}
a:hover,
a:focus {
    color: #337ab7;
}

p {
    margin-bottom: 20px;
}

.header-top {
    background-color: #292c31;
}
.header-primary,
.footer-widgets {
    background-color: #1e2024;
}

.ticker {
    color: #fff;
}
.ticker-title {
    float: left;
    margin-right: 50px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
}
.ticker-title > span {
    color: #ff2828;
}
.ticker-wrap > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ticker-wrap > ul > li {
    padding: 17px 0;
    line-height: 15px;
}
.ticker-wrap > ul > li > a {
    color: #1b95e0;
}
.ticker-wrap > ul > li > a:hover,
.ticker-wrap > ul > li > a:focus {
    color: #1577b3;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.navbar-brand {
    height: auto;
}
.navbar-toggle {
    margin-top: 23px;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #292c31;
    border-radius: 0;
}
.navbar-toggle > span {
    display: block;
    margin: 0 auto 5px;
    width: 30px;
    height: 2px;
    background-color: #fff;
}
.navbar-toggle > span:first-child {
    position: relative;
    top: 7px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
    -webkit-transition: top 0.3s 0s, transform 0.3s 0.3s;
            transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
            transition: top 0.3s 0s, transform 0.3s 0.3s;
}
.navbar-toggle > span:last-child {
    position: relative;
    top: -7px;
    margin-bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
    -webkit-transition: top 0.3s 0s, transform 0.3s 0.3s;
            transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
            transition: top 0.3s 0s, transform 0.3s 0.3s;
}
.navbar-toggle > span:nth-child(2) {
    opacity: 0;
}
.collapsed > span:first-child,
.collapsed > span:last-child {
    top: 0;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
    -webkit-transition: top 0.3s 0.3s, transform 0.3s 0s;
            transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
            transition: top 0.3s 0.3s, transform 0.3s 0s;
}
.collapsed > span:nth-child(2) {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}
.custom-navbar > li > a {
    padding: 0 30px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 96px;
    text-transform: uppercase;
}
.custom-navbar > li > a:hover,
.custom-navbar > li > a:focus {
    background-color: #ff2828;
}

.content,
.footer-widgets {
    padding: 40px 0;
}

.wrap > .col-sm-6:nth-child(odd),
.wrap > .col-md-6:first-child,
.wrap > .col-md-8:first-child {
    padding-right: 8px;
}
.wrap > .col-sm-6:nth-child(even),
.wrap > .col-md-6:last-child,
.wrap > .col-md-4:last-child {
    padding-left: 8px;
}

.card {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
}
.card-clean {
    background: none;
    border: none;
}

.card-header {
    position: relative;
    padding: 24px;
    border-bottom: 1px solid #e4e7ed;
}
.card-clean > .card-header {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
}
.card-header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    background-color: #ff2828;
    border-radius: 3px 0 0 0;
}
.card-header > h4 {
    display: inline-block;
    margin: 0;
    color: #31404b;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.video-category {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.video-category > li {
    display: inline;
}
.video-category > li > a {
    padding: 0 10px;
    color: rgba(49, 64, 75, 0.5);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.video-category > li > a:hover {
    color: rgba(49, 64, 75, 1);
}

.slick-list {
    border-radius: 4px;
}

.news-item > a {
    position: relative;
    display: block;
    outline: none;
}
.news-item > a:hover .news-img > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.news-img {
    overflow: hidden;
}
.news-img > img {
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
}
.news-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 25% 20px 20px;
    background-image: linear-gradient(to bottom, transparent, #000);
    color: #fff;
    text-transform: uppercase;
}
.news-cat,
.video-cat {
    margin-bottom: 10px;
}
.news-cat > span,
.news-box-cat > span,
.video-cat > span {
    padding: 5px 10px;
    background-color: #ff2828;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.news-info > h3 {
    margin: 0 0 15px;
    font-size: 38px;
    font-weight: 700;
    line-height: 34px;
}
.news-info > time {
    font-size: 11px;
    font-weight: 700;
}

.news-box,
.oldnews-box {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
}
.news-box-thumb {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.news-box-thumb:hover a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.news-box-thumb > a {
    display: block;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
}
.news-box-thumb > a > img {
    height: 285px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.news-box-cat {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    text-transform: uppercase;
}
.news-box-content {
    padding: 20px 20px 30px;
}
.news-box-content > time,
.oldnews-box > ul > li > time {
    font-size: 11px;
    text-transform: uppercase;
}
.news-box-title {
    margin: 10px 0;
}
.news-box-title > a,
.oldnews-box-title > a {
    color: #31404b;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
.news-box-title > a:hover,
.oldnews-box-title > a:hover {
    color: #4f6779;
}
.news-box-shortnews {
    padding-top: 15px;
}

.oldnews-box {
    padding: 20px;
}
.oldnews-box > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.oldnews-box > ul > li {
    margin: 0 -20px 15px -20px;
    padding: 0 20px 15px;
    border-bottom: 1px solid #e4e7ed;
}
.oldnews-box > ul > li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.oldnews-box-title {
    margin-bottom: 4px;
}
.oldnews-box-title > a {
    font-size: 18px;
    line-height: 18px;
}

.table-standings,
.table-team-roster,
.table-best-players,
.table-tournament-history {
    margin-bottom: 0;
}
.table-standings > tbody {
    counter-reset: counter;
}
.table-standings > thead > tr > th,
.table-best-players > thead > tr > th {
    padding: 13px 10px;
    border-bottom: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.table-standings > tbody > tr > td {
    padding: 13px 10px;
    border-top: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.table-standings > thead > tr > th:first-child,
.table-standings > tbody > tr > td:first-child,
.table-best-players > thead > tr > th:first-child,
.table-best-players > tbody > tr > td:first-child,
.table-team-roster > thead > tr > th:first-child,
.table-team-roster > tbody > tr > td:first-child,
.table-tournament-history > thead > tr > th:first-child,
.table-tournament-history > tbody > tr > td:first-child {
    padding-left: 24px;
    text-align: left;
}
.table-standings > thead > tr > th:last-child,
.table-standings > tbody > tr > td:last-child,
.table-best-players > thead > tr > th:last-child,
.table-best-players > tbody > tr > td:last-child,
.table-team-roster > thead > tr > th:last-child,
.table-team-roster > tbody > tr > td:last-child,
.table-tournament-history > thead > tr > th:last-child,
.table-tournament-history > tbody > tr > td:last-child {
    padding-right: 24px;
}
.table-team-roster > thead > tr > th,
.table-tournament-history > thead > tr > th {
    padding: 13px 10px;
    border-bottom: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    text-transform: uppercase;
}
.table-team-roster > tbody > tr > td,
.table-tournament-history > tbody > tr > td {
    padding: 13px 10px;
    border-top: 1px solid #e4e7ed;
    font-size: 12px;
    vertical-align: middle;
}
.table-team-roster-number,
.table-team-roster-age,
.table-team-roster-height,
.table-team-roster-weight,
.table-team-roster-hand,
.table-tournament-history-place,
.table-tournament-history-victories,
.table-tournament-history-defeats {
    text-align: center;
}
.table-team-roster-name,
.table-team-roster-position,
.table-tournament-history-name {
    color: #31404b;
}
.table-best-players > tbody > tr > td {
    padding: 13px 10px;
    border-top: 1px solid #e4e7ed;
    color: #9a9da2;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.best-player-img {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}
.best-player-info {
    display: inline-block;
    vertical-align: middle;
}
.best-player-info > h5 {
    margin: 0;
    color: #31404b;
    font-size: 14px;
}
.best-player-info > div {
    font-size: 11px;
    line-height: 11px;
}

.team-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team-meta::before {
    content: counter(counter, decimal-leading-zero);
    counter-increment: counter;
    margin-right: 5px;
    color: #9a9da2;
    vertical-align: middle;
}
.team-meta-logo {
    display: inline-block;
    margin: 0 7px; 
    vertical-align: middle;
}
.team-meta-logo > img {
    height: 28px;
}
.team-meta-info {
    display: inline-block;
    vertical-align: middle;
}
.team-meta-name {
    margin: 0;
    font-size: 14px;
}
.team-meta-country {
    color: #9a9da2;
    font-size: 11px;
    line-height: 11px;
}

.results {
    margin: 0;
    padding: 0;
    list-style: none;
}
.results > li {
    border-top: 1px solid #e4e7ed;
}
.results > li:first-child {
    border-top: none;
}
.results-title {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #e4e7ed;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}
.results-content {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    color: #31404b;
}
.results-team-first,
.results-team-second,
.results-score {
    flex-grow: 1;
    flex-basis: 38%;
}
.results-team-first,
.results-team-second {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.results-team-second {
    flex-direction: row-reverse;
    text-align: right;
}
.results-team-first > .team-meta-logo {
    margin-left: 0;
}
.results-team-second > .team-meta-logo {
    margin-right: 0;
}
.results-team-meta-info {
    width: 80px;
}
.results-team-meta-info > .team-meta-name {
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-score {
    flex-basis: 24%;
    font-size: 14px;
    text-align: center;
}
.winner {
    font-weight: 700;
}

.match-preview {
    padding: 24px;
    text-align: center;
    text-transform: uppercase;
}
.match-preview-header {
    margin-bottom: 15px;
}
.match-preview-title {
    margin: 0 0 5px;
    color: #31404b;
    font-size: 14px;
    font-weight: 700;
}
.match-preview-date {
    display: block;
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
}
.match-preview-content {
    display: flex;
    align-items: center;
}
.match-preview-team-first,
.match-preview-team-second,
.match-preview-vs {
    flex-grow: 1;
    width: 36%;
}
.match-preview-vs {
    width: 28%;
}
.match-preview-team-logo {
    margin-bottom: 10px;
}
.match-preview-team-logo > img {
    width: 88px;
}
.match-preview-team-name {
    margin: 0;
    color: #31404b;
    font-size: 15px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}
.match-preview-team-info {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
}
.match-preview-versus {
    color: #31404b;
    font-size: 30px;
    font-weight: 700;
}
.match-preview-info {
    padding: 0 10px;
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    word-wrap: break-word;
}
.match-preview-countdown {
    margin-top: 24px;
}
.countdown-title {
    margin: 0 -24px 24px;
    padding: 12px;
    background-color: #f5f7f9;
    border-top: 1px solid #e4e7ed;
    border-bottom: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    font-weight: 700;
}
.countdown-item {
    position: relative;
    display: inline-block;
    width: 25%;
    color: #31404b;
    font-size: 26px;
    font-weight: 700;
}
.countdown-item + .countdown-item::before {
    content: ":";
    position: absolute;
    top: -3px;
    left: 0;
    font-weight: 400;
}
.countdown-label {
    display: block;
    padding-top: 5px;
    color: #9a9da2;
    font-size: 10px;
    line-height: 10px;
}

.partners,
.achievements {
    padding: 24px;
}
.partners-link {
    display: block;
    outline: none !important;
}
.partners-link:hover,
.partners-link:focus {
    text-decoration: none;
}
.partners-link:hover .partners-desc,
.partners-link:focus .partners-desc {
    color: #4f6779;
}
.partners-logo > img,
.achievements-img > img {
    margin: 0 auto;
}
.partners-desc,
.achievements-desc {
    padding: 30px 30px 10px;
    color: #31404b;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
}

.video-link {
    position: relative;
    display: block;
    margin: 0 8px;
    outline: none !important;
}
.video-link::before {
    content: "\f04b";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 4px solid #ff2828;
    border-radius: 50%;
    background-color: rgba(23, 29, 33, 0.6);
    z-index: 1;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    text-indent: 3px;
    font-family: "FontAwesome";
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
}
.video-link:hover::before {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}
.video-link:hover .video-thumb > img {
    opacity: 0.3;
}
.video-link:hover .video-inner {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.video-thumb {
    border-radius: 4px;
    background-color: #000;
    overflow: hidden;
}
.video-thumb > img {
    width: 100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}
.video-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 15px 18px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
            transition: -webkit-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
}
.video-title {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.video-cat > span {
    font-size: 9px;
}

.footer {
    color: rgba(154, 157, 162, 0.6);
    font-size: 14px;
    line-height: 22px;
}
.footer-widget-title {
    margin: 0 0 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-desc {
    margin: 25px 0;
}
.footer-contacts,
.footer-news {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-contacts > li {
    position: relative;
    margin-bottom: 10px;
}
.footer-contacts > li:last-child {
    margin-bottom: 0;
}
.footer-contacts i {
    position: absolute;
    top: 2px;
    color: #ff2828;
    font-size: 18px;
}
.footer-contacts span {
    display: block;
    padding-left: 40px;
    font-size: 16px;
}
.footer-contacts a {
    color: rgba(154, 157, 162, 0.6);
}
.footer-contacts a:hover {
    color: #fff;
    text-decoration: none;
}
.socials-links {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;
}
.socials-links > li {
    display: inline-block;
}
.socials-links > li > a {
    display: block;
    padding: 0 10px;
    color: #6b6d70;
    font-size: 18px;
}
.socials-links > li > a:hover {
    color: #ff2828;
}

.footer-news > li {
    margin-bottom: 15px;
}
.footer-news > li:last-child {
    margin-bottom: 0;
}
.footer-news .news-cat > span {
    font-size: 9px;
}
.footer-news .news-box-title {
    margin: 0;
}
.footer-news .news-box-title > a {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
.footer-news .news-box-title > a:hover {
    color: #ff2828;
}
.footer-news time {
    font-size: 10px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 10px;
}
.form-control-custom {
    height: 45px;
    padding: 10px 14px;
    border-radius: 2px;
    border-color: #2b2e33;
    background-color: #2b2e33;
    box-shadow: none;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
}
.form-control-custom:focus {
    border-color: #ff2828;
    box-shadow: none;
}
.form-control-custom::-webkit-input-placeholder {
    color: rgba(154, 157, 162, 0.6);
}
.form-control-custom:-ms-input-placeholder {
    color: rgba(154, 157, 162, 0.6);
}
.form-control-custom::-moz-placeholder {
    color: rgba(154, 157, 162, 0.6);
}
textarea.form-control-custom {
    height: 110px;
    resize: vertical;
}
.btn-custom {
    padding: 10px 38px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #ff2828;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:active:hover
.btn-custom:active:focus {
    border-color: transparent !important;
    background-color: #dc2323 !important;
    box-shadow: none;
    outline: none !important;
}

.footer-secondary {
    padding: 20px 0;
    background-color: #16171a;
}

.page-heading {
    position: relative;
    padding: 43px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.page-heading::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
.team-logo,
.team-info {
    position: relative;
    float: left;
}
.team-info {
    margin: 80px 0 0 30px;
}
.team-info > h1 {
    margin: 0;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.team-info > h2 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.team-info > img {
    display: inline-block;
    margin: -5px 5px 0 0;
}
.team-info > span {
    color: #fff;
    font-size: 18px;
}

.content-filter {
    background-color: #fff;
    border-bottom: 1px solid #e4e7ed;
}
.content-filter-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #e4e7ed;
    border-right: 1px solid #e4e7ed;
}
.content-filter-list > li {
    flex-grow: 1;
    border-left: 1px solid #e4e7ed;
    text-align: center;
}
.content-filter-list > li:first-child {
    border-left: none;
}
.content-filter-list > li > a {
    display: block;
    padding: 25px 20px;
    color: #9a9da2;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
}
.content-filter-list > li > a:hover {
    color: #31404b;
}
.content-filter-active > a {
    color: #ff2828 !important;
}

.games-history-legend {
    float: right;
}
.games-history-legend > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #31404b;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.games-history-legend > ul > li {
    display: inline-block;
    margin-left: 10px;
}
.games-history-legend-won,
.games-history-legend-lost {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    margin-right: 5px;
}
.games-history-legend-won {
    background-color: #ff2828;
}
.games-history-legend-lost {
    background-color: #38a9ff;
}
.chart {
    padding: 24px;
}

.game-results,
.game-stats {
    padding: 24px;
}
.game-results-team {
    margin-top: 20px;
    text-align: center;
}
.game-results-team-logo > img {
    width: 150px;
}
.game-results-team-name {
    margin: 10px 0 0;
    color: #31404b;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.game-results-team-info {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
}
.game-results-score {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -2px;
}
.game-results-winner {
    color: #31404b;
}
.game-results-date {
    margin-bottom: 15px;
    color: #31404b;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.table-stats {
    margin: 0;
    border: 1px solid #e4e7ed;
}
.table-stats > thead > tr > th {
    background-color: #f5f7f9;
    border-bottom: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.table-stats > tbody > tr > td {
    border: none;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.table-stats > tfoot > tr > td {
    border-top: 1px solid #e4e7ed;
    color: #31404b;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.game-results-wrap .table-stats > tbody > tr > td:first-child,
.game-results-wrap .table-stats > tbody > tr > td:nth-child(11) {
    color: #31404b;
    font-weight: 700;
}
.game-results-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}
.game-results-tournament,
.game-results-stadium,
.game-results-weather,
.game-results-judge {
    flex-grow: 1;
    flex-basis: 50%;
}
.game-results-tournament > span,
.game-results-stadium > span,
.game-results-weather > span,
.game-results-judge > span {
    color: #31404b;
    font-weight: 700;
}
.game-stats .col-md-6:first-child {
    padding-right: 12px;
}
.game-stats .col-md-6:last-child {
    padding-left: 12px;
}
.game-stats .table-stats > thead > tr > th:first-child,
.game-stats .table-stats > tfoot > tr > td:first-child {
    text-align: left;
}
.game-stats .table-stats > tbody > tr > td:first-child {
    color: #31404b;
    text-align: left;
    text-transform: none;
}

.decor {
    padding-bottom: 50px;
    background-image: linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(236, 240, 246, 0.6) 8px, transparent 8px),
                      linear-gradient(to right, rgba(0, 0, 0, 0.1) 8px, transparent 8px),
                      linear-gradient(to right, rgba(0, 0, 0, 0.11) 8px, transparent 8px);
    background-repeat: repeat-x;
    background-size: 72px 24px, 72px 30px, 72px 34px, 72px 40px, 72px 37px, 72px 29px, 144px 30px, 216px 37px;
    background-position: 0 100%, 12px 100%, 24px 100%, 36px 100%, 48px 100%, 60px 100%, 12px 100%, 48px 100%;
}

.tournament-wrap {
    padding: 24px;
}
.tournament-info-item > span {
    padding-right: 5px;
    color: #9a9da2;
}
.tournament-info-item,
.tournament-desc {
    color: #31404b;
    font-size: 14px;
}
.tournament-team-link {
    display: block;
    padding: 25px;
    border: 1px solid #f4f6fa;
    border-radius: 2px;
    text-align: center;
}
.tournament-team-link:hover {
    background-color: #fbfbfb;
    border-color: #ff2828;
    text-decoration: none;
}
.tournament-team-name {
    margin-top: 15px;
    color: #31404b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.tournament-team-country {
    color: #9a9da2;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}
.tournament-teams {
    padding: 24px 24px 0;
}
.tournament-teams > .row {
    margin: 0 -12px;
}
.tournament-teams-item {
    padding: 0 12px 24px;
}
.tournament-schedule {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tournament-schedule > li {
    border-bottom: 1px solid #e4e7ed;
}
.tournament-schedule > li:last-child {
    border: none;
}
.schedule-col:nth-child(even) > .schedule-wrap {
    padding-left: 0;
}
.schedule-wrap {
    padding: 15px 30px;
}
.schedule-wrap > img {
    width: 40px;
    height: 40px;
}
.schedule-vs {
    padding: 0 20px;
    color: #31404b;
    font-size: 13px;
    font-weight: 700;
}
.schedule-info {
    display: inline-block;
    padding-left: 35px;
    vertical-align: middle;
}
.schedule-place-date {
    margin-bottom: 5px;
    color: #31404b;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
}
.schedule-weather {
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}
.tournament-score,
.tournament-date {
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
}
.tournament-score {
    color: #31404b;
    font-size: 16px;
}
.team-second {
    text-align: right;
}
.schedule-score {
    padding-top: 7px;
    text-align: center;
}
.schedule-score > a {
    display: block;
    width: 140px;
    height: 25px;
    margin: 0 auto;
    border: 1px solid #dbdfe6;
    border-radius: 2px;
    color: #9a9da2;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.schedule-score > a:hover {
    background-color: #9a9da2;
    border-color: #9a9da2;
    color: #fff;
}
.schedule-team-meta-logo {
    display: inline-block;
}
.team-first > .schedule-team-meta-logo {
    margin-right: 15px;
}
.team-second > .schedule-team-meta-logo {
    margin-left: 15px;
}
.schedule-team-meta-logo > img {
    width: 40px;
    height: 40px;
}
.schedule-team-meta-name {
    display: inline-block;
    margin: 0;
    color: #31404b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 420px) {
    .news-info > h3 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 18px;
    }
}

@media (min-width: 421px) and (max-width: 767px) {
    .news-info > h3 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media (max-width: 580px) {
    .news-category {
        float: none;
    }

    .schedule-score > a {
        width: auto;
    }
}

@media (max-width: 767px) {
    .wrap > .col-sm-6:nth-child(odd) {
        padding-right: 15px;
    }
    .wrap > .col-sm-6:nth-child(even) {
        padding-left: 15px;
    }

    .ticker-title {
        float: none;
    }

    .navbar-collapse {
        position: absolute;
        right: 0px;
        left: 0px;
        z-index: 100;
        background-color: #1e2024;
        border-color: #292c31;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .custom-navbar > li > a {
        line-height: 48px;
        text-align: center;
    }

    .news-box-thumb > a > img {
        width: 100%;
        height: auto;
        margin-left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    .table-responsive {
        margin-bottom: 0;
        border: none;
    }

    .team-logo,
    .team-info {
        float: none;
        text-align: center;
    }
    .team-info {
        margin: 0;
    }
    .team-info > h1 {
        font-size: 38px;
    }
    .team-logo > img {
        width: 170px;
    }

    .content-filter > .container {
        padding: 0;
    }
    .content-filter-list {
        border: none;
    }
    .content-filter-list > li {
        flex-basis: 50%;
    }
    .content-filter-list > li:nth-child(3) {
        border-left: none;
    }
    .content-filter-list > li:nth-child(1),
    .content-filter-list > li:nth-child(2) {
        border-bottom: 1px solid #e4e7ed;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .custom-navbar {
        float: left !important;
        margin-left: -15px;
    }

    .news-info > h3 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width: 991px) {
    .wrap > .col-md-6:first-child,
    .wrap > .col-md-8:first-child,
    .game-stats .col-md-6:first-child {
        padding-right: 15px;
    }
    .wrap > .col-md-6:last-child,
    .wrap > .col-md-4:last-child,
    .game-stats .col-md-6:last-child {
        padding-left: 15px;
    }
    .game-stats .col-md-6:first-child {
        margin-bottom: 24px;
    }

    .news-box-title > a {
        font-size: 18px;
        line-height: 18px;
    }

    .oldnews-box-title > a {
        font-size: 14px;
        line-height: 14px;
    }

    .results-team-meta-info {
        width: auto;
    }

    .footer-widget {
        margin-bottom: 40px;
    }
    .footer-widgets [class^="col-"]:last-child .footer-widget {
        margin-bottom: 0;
    }

    .tournament-logo,
    .tournament-info {
        margin-bottom: 24px;
    }

    .team-first,
    .team-second,
    .schedule-score {
        text-align: center;
    }
    .schedule-team-meta-name {
        display: none;
    }
    .team-first > .schedule-team-meta-logo {
        margin-right: 0;
    }
    .team-second > .schedule-team-meta-logo {
        margin-left: 0;
    }

    .schedule-col:nth-child(even) > .schedule-wrap {
        padding-left: 30px;
    }
    .schedule-wrap {
        text-align: center;
    }
    .schedule-info {
        display: block;
        margin-top: 10px;
        padding-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .results-team-first,
    .results-team-second {
        flex-basis: 20%;
    }

    .table-best-players > thead > tr > th:first-child,
    .table-best-players > tbody > tr > td:first-child {
        padding-left: 15px;
    }
    .table-best-players > thead > tr > th:last-child,
    .table-best-players > tbody > tr > td:last-child {
        padding-right: 15px;
    }

    .schedule-col:nth-child(even) > .schedule-wrap {
        padding-left: 30px;
    }
    .schedule-wrap {
        text-align: center;
    }
    .schedule-info {
        margin-top: 10px;
        padding-left: 0;
    }
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #292c31;
    z-index: 100;
}
.sk-folding-cube {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
            transform: translate(-50%, -50%) rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff2828;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}