﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.AchievementVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Достижения";
    ViewBag.Info = "Всего достижений: " + Model.Achievements.Count();
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Достижения</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-achievement" data-url="@Url.ActionFullPath("Create", "Achievements")" class="btn btn-success">Добавить достижение</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Достижение</th>
                                    <th>Команда</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Achievements)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("Delete", "Achievements", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("Edit", "Achievements", new { id = item.Id })" class="btn-edit edit-achievement"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td data-img="@item.Image">@item.Name</td>
                                        <td data-id="@item.TeamId">@item.Team.FullName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="achievementModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <img src="@Url.Content("~/content/img/achievements/unknown.png")" id="preview-img" data-img="unknown.png" class="img-responsive" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "Name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @id = "Name-error", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Команда</label>
                        @Html.DropDownListFor(model => model.TeamId, Model.Teams, "", new { @id = "TeamId", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TeamId, "", new { @id = "TeamId-error", @class = "text-danger" })
                    </div>
                    <div class="form-group" id="form-file-info" style="display: none;">
                        <label class="control-label">Изображение</label>
                        <div class="form-control">
                            <span id="file-info"></span>
                            <span><a href="#" id="remove-file" class="remove-photo">Убрать</a></span>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <div class="inputfile">
                            <label class="btn btn-default" for="file-input">Выбрать изображение (150x180)</label>
                            @Html.TextBoxFor(model => model.Image, new { @type = "file", @id = "file-input", @accept = "image/png" })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @id = "Image-error", @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}