﻿@using BaseballApp.Helpers
@model BaseballApp.Areas.Admin.ViewModels.LocationVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Страны и города";
    ViewBag.Info = string.Format("Всего стран: {0} | Всего городов: {1}", Model.Countries.Count(), Model.Cities.Count());
}

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Страны</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-country" data-url="@Url.ActionFullPath("CreateCountry", "Locations")" class="btn btn-success">Добавить страну</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Страна</th>
                                    <th>Alpha2</th>
                                    <th>Кол. городов</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Countries)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteCountry", "Locations", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditCountry", "Locations", new { id = item.Id })" class="btn-edit edit-country"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Alpha2</td>
                                        <td>@item.Cities.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Города</h4>
                </div>
                <div class="panel-body">
                    <div class="actions clearfix">
                        <div class="btn-add"><a href="#" id="add-city" data-url="@Url.ActionFullPath("CreateCity", "Locations")" class="btn btn-success">Добавить город</a></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Город</th>
                                    <th>Страна</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cities)
                                {
                                    <tr>
                                        <td class="table-actions">
                                            <a href="#" data-url="@Url.ActionFullPath("DeleteCity", "Locations", new { id = item.Id })" class="btn-delete"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-url="@Url.ActionFullPath("EditCity", "Locations", new { id = item.Id })" class="btn-edit edit-city"><i class="fa fa-pencil"></i></a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td data-id="@item.CountryId">@item.Country.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="countryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.CountryVM.NameCountry, new { htmlAttributes = new { @id = "NameCountry", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CountryVM.NameCountry, "", new { @id = "NameCountry-error", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Двухбуквенный код страны (Alpha2)</label>
                        @Html.EditorFor(model => model.CountryVM.Alpha2, new { htmlAttributes = new { @id = "Alpha2", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CountryVM.Alpha2, "", new { @id = "Alpha2-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="cityModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">Страна</label>
                        @Html.DropDownListFor(model => model.CityVM.CountryId, Model.CityVM.Countries, "", new { @id = "CountryId", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CityVM.CountryId, "", new { @id = "CountryId-error", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Название</label>
                        @Html.EditorFor(model => model.CityVM.NameCity, new { htmlAttributes = new { @id = "NameCity", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CityVM.NameCity, "", new { @id = "NameCity-error", @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_PartialDelete.cshtml"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}