﻿@using BaseballApp.Helpers
@model IEnumerable<BaseballApp.Models.Team>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ББА | Команды";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Команды</h4>
                    </div>
                    <div class="card-content">
                        <div class="tournament-teams">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-6 col-md-3 tournament-teams-item">
                                        <a href="@Url.ActionFullPath("Team", "Teams", new { id = item.Id })" class="tournament-team-link">
                                            <div class="tournament-team-logo">
                                                <img src="@Url.Content("~/content/img/teams/88-" + item.Logo)" />
                                            </div>
                                            <div class="tournament-team-name">@item.Name</div>
                                            <div class="tournament-team-country">@item.City.Name, @item.City.Country.Name</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>