﻿@using BaseballApp.Helpers
@model BaseballApp.ViewModels.TeamVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ББА | " + Model.Team.Name + " | Состав команды";
}

<div class="page-heading" style="background-image: url(@Url.Content("~/content/img/teams/" + Model.Team.BackgroundImage));">
    <div class="container">
        <div class="team-logo">
            <img src="@Url.Content("~/content/img/teams/215-" + Model.Team.Logo)" />
        </div>
        <div class="team-info">
            <h1>@Model.Team.Name</h1>
            <h2>@Model.Team.FullName</h2>
            <img src="@Url.Content("~/content/img/flags/32/" + Model.Team.City.Country.Alpha2.ToLower() + ".png")" />
            <span>@Model.Team.City.Name, @Model.Team.City.Country.Name</span>
        </div>
    </div>
</div>
<nav class="content-filter">
    <div class="container">
        <ul class="content-filter-list">
            <li><a href="@Url.ActionFullPath("Team", "Teams", new { id = Model.Team.Id })">Обзор команды</a></li>
            <li class="content-filter-active"><a href="@Url.ActionFullPath("TeamInfo", "Teams", new { id = Model.Team.Id, page = "players" })">Состав команды</a></li>
            <li><a href="#">Прошедшие игры</a></li>
            <li><a href="#">Предстоящие игры</a></li>
        </ul>
    </div>
</nav>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Состав команды</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-team-roster">
                                <thead>
                                    <tr>
                                        <th class="table-team-roster-number">№</th>
                                        <th class="table-team-roster-name">Игрок</th>
                                        <th class="table-team-roster-position">Позиция</th>
                                        <th class="table-team-roster-age">Возраст</th>
                                        <th class="table-team-roster-height">Рост</th>
                                        <th class="table-team-roster-weight">Вес</th>
                                        <th class="table-team-roster-hand">Бита/Подача</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Players)
                                    {
                                        <tr>
                                            <td class="table-team-roster-number">@item.Number</td>
                                            <td class="table-team-roster-name">@item.Name @item.Surname</td>
                                            <td class="table-team-roster-position">@item.Position.Name (@item.Position.Abbreviation)</td>
                                            <td class="table-team-roster-age">@(DateTime.Now.Year - item.Birthday.Value.Year)</td>
                                            <td class="table-team-roster-height">@item.Height см</td>
                                            <td class="table-team-roster-weight">@item.Weight кг</td>
                                            <td class="table-team-roster-hand">@item.Attack/@item.Protection</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>