﻿@using BaseballApp.Helpers
@model BaseballApp.ViewModels.TeamVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ББА | " + Model.Team.Name;
}

<div class="page-heading" style="background-image: url(@Url.Content("~/content/img/teams/" + Model.Team.BackgroundImage));">
    <div class="container">
        <div class="team-logo">
            <img src="@Url.Content("~/content/img/teams/215-" + Model.Team.Logo)" />
        </div>
        <div class="team-info">
            <h1>@Model.Team.Name</h1>
            <h2>@Model.Team.FullName</h2>
            <img src="@Url.Content("~/content/img/flags/32/" + Model.Team.City.Country.Alpha2.ToLower() + ".png")" />
            <span>@Model.Team.City.Name, @Model.Team.City.Country.Name</span>
        </div>
    </div>
</div>
<nav class="content-filter">
    <div class="container">
        <ul class="content-filter-list">
            <li class="content-filter-active"><a href="@Url.ActionFullPath("Team", "Teams", new { id = Model.Team.Id })">Обзор команды</a></li>
            <li><a href="@Url.ActionFullPath("TeamInfo", "Teams", new { id = Model.Team.Id, page = "players" })">Состав команды</a></li>
            <li><a href="#">Прошедшие игры</a></li>
            <li><a href="#">Предстоящие игры</a></li>
        </ul>
    </div>
</nav>
<div class="content">
    <div class="container">
        <div class="row wrap">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Основной состав</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-team-roster">
                                <thead>
                                    <tr>
                                        <th class="table-team-roster-number">№</th>
                                        <th class="table-team-roster-name">Игрок</th>
                                        <th class="table-team-roster-position">Позиция</th>
                                        <th class="table-team-roster-age">Возраст</th>
                                        <th class="table-team-roster-height">Рост</th>
                                        <th class="table-team-roster-weight">Вес</th>
                                        <th class="table-team-roster-hand">Бита/Подача</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Players)
                                    {
                                        <tr>
                                            <td class="table-team-roster-number">@item.Number</td>
                                            <td class="table-team-roster-name">@item.Name @item.Surname</td>
                                            <td class="table-team-roster-position">@item.Position.Name (@item.Position.Abbreviation)</td>
                                            <td class="table-team-roster-age">@(DateTime.Now.Year - item.Birthday.Value.Year)</td>
                                            <td class="table-team-roster-height">@item.Height см</td>
                                            <td class="table-team-roster-weight">@item.Weight кг</td>
                                            <td class="table-team-roster-hand">@item.Attack/@item.Protection</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row wrap">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Лучшие игроки</h4>
                                <span style="font-size: 10px; line-height: 10px;">(В РАЗРАБОТКЕ)</span>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-best-players">
                                        <thead>
                                            <tr>
                                                <th>Игрок</th>
                                                <th>H</th>
                                                <th>E</th>
                                                <th>AVG</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="best-player">
                                                        <div class="best-player-img">
                                                            <img src="@Url.Content("~/Content/temp/test-player-1.jpg")" />
                                                        </div>
                                                        <div class="best-player-info">
                                                            <h5 class="">Fernando Abad</h5>
                                                            <div>Минск, Беларусь</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>15</td>
                                                <td>12</td>
                                                <td>19</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="best-player">
                                                        <div class="best-player-img">
                                                            <img src="@Url.Content("~/Content/temp/test-player-2.jpg")" />
                                                        </div>
                                                        <div class="best-player-info">
                                                            <h5 class="">Joe Kelly</h5>
                                                            <div>Минск, Беларусь</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>18</td>
                                                <td>16</td>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="best-player">
                                                        <div class="best-player-img">
                                                            <img src="@Url.Content("~/Content/temp/test-player-1.jpg")" />
                                                        </div>
                                                        <div class="best-player-info">
                                                            <h5 class="">Fernando Abad</h5>
                                                            <div>Минск, Беларусь</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>15</td>
                                                <td>12</td>
                                                <td>19</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="best-player">
                                                        <div class="best-player-img">
                                                            <img src="@Url.Content("~/Content/temp/test-player-2.jpg")" />
                                                        </div>
                                                        <div class="best-player-info">
                                                            <h5 class="">Joe Kelly</h5>
                                                            <div>Минск, Беларусь</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>18</td>
                                                <td>16</td>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="best-player">
                                                        <div class="best-player-img">
                                                            <img src="@Url.Content("~/Content/temp/test-player-1.jpg")" />
                                                        </div>
                                                        <div class="best-player-info">
                                                            <h5 class="">Fernando Abad</h5>
                                                            <div>Минск, Беларусь</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>15</td>
                                                <td>12</td>
                                                <td>19</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>История игр</h4>
                                <div class="games-history-legend">
                                    <ul>
                                        <li><span class="games-history-legend-won"></span> Победы</li>
                                        <li><span class="games-history-legend-lost"></span> Поражения</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="chart"><canvas id="chart-games-history" data-id="@Model.Team.Id"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Участие в турнирах</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-tournament-history">
                                <thead>
                                    <tr>
                                        <th class="table-tournament-history-year">Год</th>
                                        <th class="table-tournament-history-name">Название</th>
                                        <th class="table-tournament-history-dates">Даты</th>
                                        <th class="table-tournament-history-place">Место</th>
                                        <th class="table-tournament-history-victories">Выиграно игр</th>
                                        <th class="table-tournament-history-defeats">Проиграно игр</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TournamentsInfo)
                                    {
                                        <tr>
                                            <td class="table-tournament-history-year">@item.Tournament.StartDate.Year</td>
                                            <td class="table-tournament-history-name">@item.Tournament.Name</td>
                                            <td class="table-tournament-history-dates">@item.Tournament.StartDate.ToString("d MMMM") – @item.Tournament.EndDate.ToString("d MMMM")</td>
                                            <td class="table-tournament-history-place">@item.Place</td>
                                            <td class="table-tournament-history-victories">@item.Victories</td>
                                            <td class="table-tournament-history-defeats">@item.Defeats</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Статистика сезона</h4>
                    </div>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="table table-standings">
                                <thead>
                                    <tr>
                                        <th>Позициия команды</th>
                                        <th>В</th>
                                        <th>П</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeamStats)
                                    {
                                        <tr>
                                            <td>
                                                <div class="team-meta">
                                                    <div class="team-meta-logo">
                                                        <img src="@Url.Content("~/content/img/teams/28-" + item.Team.Logo)" />
                                                    </div>
                                                    <div class="team-meta-info">
                                                        <h6 class="team-meta-name">@item.Team.Name</h6>
                                                        <div class="team-meta-country">@item.Team.City.Country.Name</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Victories</td>
                                            <td>@item.Defeats</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
                <aside class="widget card">
                    <div class="card-header">
                        <h4>Последние результаты</h4>
                    </div>
                    <div class="widget-content">
                        <ul class="results">
                            @foreach (var item in Model.LastMatches)
                            {
                                <li>
                                    <h5 class="results-title">@item.StartDate.ToString("dddd, d MMMM")</h5>
                                    <div class="results-content">
                                        <div class="results-team-first">
                                            <div class="team-meta-logo">
                                                <img src="@Url.Content("~/content/img/teams/28-" + item.MatchTeams.First().Team.Logo)" />
                                            </div>
                                            <div class="team-meta-info results-team-meta-info">
                                                <h6 class="team-meta-name">@item.MatchTeams.First().Team.Name</h6>
                                                <div class="team-meta-country">@item.MatchTeams.First().Team.City.Country.Name</div>
                                            </div>
                                        </div>
                                        <div class="results-score">
                                            @if (item.MatchTeams.First().R > item.MatchTeams.Last().R)
                                            {
                                                <span class="winner">@item.MatchTeams.First().R</span><span> – @item.MatchTeams.Last().R</span>
                                            }
                                            else
                                            {
                                                <span>@item.MatchTeams.First().R – </span><span class="winner">@item.MatchTeams.Last().R</span>
                                            }
                                        </div>
                                        <div class="results-team-second">
                                            <div class="team-meta-logo">
                                                <img src="@Url.Content("~/content/img/teams/28-" + item.MatchTeams.Last().Team.Logo)" />
                                            </div>
                                            <div class="team-meta-info results-team-meta-info">
                                                <h6 class="team-meta-name">@item.MatchTeams.Last().Team.Name</h6>
                                                <div class="team-meta-country">@item.MatchTeams.Last().Team.City.Country.Name</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </aside>
                @if (Model.Achievements.Count() != 0)
                {
                    <aside class="widget card">
                        <div class="card-header">
                            <h4>Достижения</h4>
                        </div>
                        <div class="widget-content">
                            <div class="achievements">
                                <div class="achievements-list">
                                    @foreach (var item in Model.Achievements)
                                    {
                                        <div class="achievements-wrap">
                                            <div class="achievements-img">
                                                <img src="@Url.Content("~/content/img/achievements/" + item.Image)" />
                                            </div>
                                            <div class="achievements-desc">@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </aside>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/content/css/slick.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/css/slick-theme.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/scripts/chart.min.js")"></script>
    <script src="@Url.Content("~/scripts/slick.min.js")"></script>
}