﻿@model BaseballApp.ViewModels.MatchVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = string.Format("ББА | {0} vs. {1} | {2}", Model.Match.MatchTeams.First().Team.Name, Model.Match.MatchTeams.Last().Team.Name, Model.Match.StartDate.ToShortDateString());
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Результаты матча</h4>
                    </div>
                    <div class="card-content">
                        <div class="game-results">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <div class="game-results-team">
                                        <div class="game-results-team-logo">
                                            <img src="@Url.Content("~/content/img/teams/215-" + Model.Match.MatchTeams.First().Team.Logo)" />
                                        </div>
                                        <h5 class="game-results-team-name">@Model.Match.MatchTeams.First().Team.Name</h5>
                                        <div class="game-results-team-info">@Model.Match.MatchTeams.First().Team.City.Name, @Model.Match.MatchTeams.First().Team.City.Country.Name</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-sm-push-6">
                                    <div class="game-results-team">
                                        <div class="game-results-team-logo">
                                            <img src="@Url.Content("~/content/img/teams/215-" + Model.Match.MatchTeams.Last().Team.Logo)" />
                                        </div>
                                        <h5 class="game-results-team-name">@Model.Match.MatchTeams.Last().Team.Name</h5>
                                        <div class="game-results-team-info">@Model.Match.MatchTeams.Last().Team.City.Name, @Model.Match.MatchTeams.Last().Team.City.Country.Name</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-pull-3">
                                    <div class="game-results-wrap">
                                        <div class="game-results-score">
                                            @if (Model.Match.MatchTeams.First().R > Model.Match.MatchTeams.Last().R)
                                            {
                                                <span class="game-results-winner">@Model.Match.MatchTeams.First().R</span><span> – @Model.Match.MatchTeams.Last().R</span>
                                            }
                                            else
                                            {
                                                <span>@Model.Match.MatchTeams.First().R – </span><span class="game-results-winner">@Model.Match.MatchTeams.Last().R</span>
                                            }
                                        </div>
                                        <div class="game-results-date">@Model.Match.StartDate.ToString("dddd, d MMMM, yyyy")</div>
                                        <div class="table-responsive">
                                            <table class="table table-stats">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>1</th>
                                                        <th>2</th>
                                                        <th>3</th>
                                                        <th>4</th>
                                                        <th>5</th>
                                                        <th>6</th>
                                                        <th>7</th>
                                                        <th>8</th>
                                                        <th>9</th>
                                                        <th>R</th>
                                                        <th>H</th>
                                                        <th>E</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.Match.MatchTeams.First().Team.Name</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning1</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning2</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning3</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning4</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning5</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning6</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning7</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning8</td>
                                                        <td>@Model.Match.MatchTeams.First().Inning9</td>
                                                        <td>@Model.Match.MatchTeams.First().R</td>
                                                        <td>@Model.Match.MatchTeams.First().H</td>
                                                        <td>@Model.Match.MatchTeams.First().E</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Model.Match.MatchTeams.Last().Team.Name</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning1</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning2</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning3</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning4</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning5</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning6</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning7</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning8</td>
                                                        <td>@Model.Match.MatchTeams.Last().Inning9</td>
                                                        <td>@Model.Match.MatchTeams.Last().R</td>
                                                        <td>@Model.Match.MatchTeams.Last().H</td>
                                                        <td>@Model.Match.MatchTeams.Last().E</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="game-results-info">
                                            <span class="game-results-tournament"><span>Турнир: </span>@Model.Match.Tournament.Name</span>
                                            <span class="game-results-judge"><span>Судья: </span>@Model.Match.Judge.Name @Model.Match.Judge.Surname</span>
                                            <span class="game-results-stadium"><span>Стадион: </span>@Model.Match.GamePlace.Name</span><br />
                                            <span class="game-results-weather"><span>Погода: </span>@Model.Match.Weather.Name</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="decor"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Статистика отбивающих</h4>
                        <span style="font-size: 10px; line-height: 10px;">(В РАЗРАБОТКЕ)</span>
                    </div>
                    <div class="card-content">
                        <div class="game-stats">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-stats">
                                            <thead>
                                                <tr>
                                                    <th>Отбивающие Минск</th>
                                                    <th>AB</th>
                                                    <th>R</th>
                                                    <th>H</th>
                                                    <th>RBI</th>
                                                    <th>BB</th>
                                                    <th>SO</th>
                                                    <th>LOB</th>
                                                    <th>AVG</th>
                                                    <th>OPS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Итого</td>
                                                    <td>43</td>
                                                    <td>12</td>
                                                    <td>15</td>
                                                    <td>12</td>
                                                    <td>2</td>
                                                    <td>11</td>
                                                    <td>15</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-stats">
                                            <thead>
                                                <tr>
                                                    <th>Отбивающие Феникс</th>
                                                    <th>AB</th>
                                                    <th>R</th>
                                                    <th>H</th>
                                                    <th>RBI</th>
                                                    <th>BB</th>
                                                    <th>SO</th>
                                                    <th>LOB</th>
                                                    <th>AVG</th>
                                                    <th>OPS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец (LF)</td>
                                                    <td>6</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>0.278</td>
                                                    <td>0.892</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Итого</td>
                                                    <td>43</td>
                                                    <td>12</td>
                                                    <td>15</td>
                                                    <td>12</td>
                                                    <td>2</td>
                                                    <td>11</td>
                                                    <td>15</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Статистика подающих</h4>
                        <span style="font-size: 10px; line-height: 10px;">(В РАЗРАБОТКЕ)</span>
                    </div>
                    <div class="card-content">
                        <div class="game-stats">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-stats">
                                            <thead>
                                                <tr>
                                                    <th>Подающие Минск</th>
                                                    <th>IP</th>
                                                    <th>H</th>
                                                    <th>R</th>
                                                    <th>ER</th>
                                                    <th>BB</th>
                                                    <th>SO</th>
                                                    <th>HR</th>
                                                    <th>ERA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Александр Рысевец</td>
                                                    <td>6.1</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                    <td>7</td>
                                                    <td>1</td>
                                                    <td>4.12</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец</td>
                                                    <td>6.1</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                    <td>7</td>
                                                    <td>1</td>
                                                    <td>4.12</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Итого</td>
                                                    <td>9.0</td>
                                                    <td>7</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>9</td>
                                                    <td>2</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-stats">
                                            <thead>
                                                <tr>
                                                    <th>Подающие Феникс</th>
                                                    <th>IP</th>
                                                    <th>H</th>
                                                    <th>R</th>
                                                    <th>ER</th>
                                                    <th>BB</th>
                                                    <th>SO</th>
                                                    <th>HR</th>
                                                    <th>ERA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Александр Рысевец</td>
                                                    <td>6.1</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                    <td>7</td>
                                                    <td>1</td>
                                                    <td>4.12</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец</td>
                                                    <td>6.1</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                    <td>7</td>
                                                    <td>1</td>
                                                    <td>4.12</td>
                                                </tr>
                                                <tr>
                                                    <td>Александр Рысевец</td>
                                                    <td>6.1</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                    <td>7</td>
                                                    <td>1</td>
                                                    <td>4.12</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Итого</td>
                                                    <td>9.0</td>
                                                    <td>7</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>0</td>
                                                    <td>9</td>
                                                    <td>2</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>